/* ejemplo2.css   MF11043  */

pais{background-color: aqua;}
departamento{background-color: rgb(94, 255, 0);
text-align: center;}
cabecera{background-color: crimson;}
habitantes{background-color: darkkhaki;text-align: center; }