/* ejemplo1a.css   MF11043  */
fichero {background-color:rgb(46, 27, 40);}
ficha {background-color:red; display:block; margin-top: ringht bottom let;
} 
nombre {color:white; display:inline;}
 apellido {color:#0026ff; display:inline;}
 direccion {color:yellow;font-size:1cm; display:inline;}
 telefono{color:yellow;font-size:1cm; display:inline;}
 emial{color:yellow;font-size:1cm; display:inline;}